@using Shared_Erp.FeuilleTemps
@page "/calendrierprojet"
@inject IFeuilleTempsService FeuilleTempsService

<h3>CalendrierProjet</h3>

<div>
    <div>

        <div>

        </div>

    </div>
    <div>

    </div>

</div>



@code {
    public List<FeuilleTempsDTO> listeFeuilleTemps = new List<FeuilleTempsDTO>();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }
    private async Task LoadData()
    {
        FeuilleTempsService.GetBySemaine();
    }
}
