@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthStateProvider

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <div class="left">
                        <span class="date">📅 @DateTime.Now.ToString("dd/MM/yyyy")</span>
                    </div>
                    @{
                        var email = context.User.FindFirst(ClaimTypes.Email)?.Value;
                        var nom = context.User.FindFirst("nom")?.Value;
                        var prenom = context.User.FindFirst("prenom")?.Value;

                        var displayName = !string.IsNullOrEmpty(prenom) && !string.IsNullOrEmpty(nom)
                        ? $"{prenom} {nom}"
                        : email ?? context.User.Identity?.Name ?? "Utilisateur";
                    }
                    <div class="right">
                        <span class="me-3">Bonjour, <strong>@displayName</strong></span>
                        <a href="logout">Déconnexion</a>
                    </div>
                </Authorized>
                <NotAuthorized>
                    <a href="login">Connexion</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    [CascadingParameter]
    private Task<AuthenticationState>? AuthenticationStateTask { get; set; }
}