@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <AuthorizeView>
                <Authorized>
                    <span class="me-3">Bonjour, <strong>@context.User.Identity.Name</strong></span>
                    <a href="logout">Déconnexion</a>
                </Authorized>
                <NotAuthorized>
                    <a href="login">Connexion</a>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>