<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">Erp_Blazor</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="login">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Connexion
            </NavLink>
        </div>
    </nav>

    <div class="arborescence">

        <div class="gestiontech">

            <div class="title">
                <p>Gestion Technique</p>
            </div>


            <div class="gestionproj">
                <p>Gestion Projet</p>
            </div>

        </div>

        <div class="gestionadmin">
                
            <div class="title">
                <p>Gestion Admin</p>
            </div>


            @if(ExpendAdminMenu){

            <div>
                <p>Gestion Comptabilite</p>
            </div>

            <div>
                <p>Gestion RH</p>
            </div>
            }

        </div>

    </div>

</div>

@code {
    private bool collapseNavMenu = true;

    private bool ExpendTechMenu = false;
    private bool ExpendAdminMenu = false;
    private bool ExpendProjetMenu = false;


    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private void ToggleTechMenu()
    {
        ExpendTechMenu = !ExpendTechMenu;
    }

    private void ToggleAdminMenu()
    {
        ExpendAdminMenu = !ExpendAdminMenu;
    }
    private void ToggleProjetMenu()
    {
        ExpendProjetMenu = !ExpendProjetMenu;
    }

}
